body{
    background: url(photo/2.jpg) fixed;
    background-size: 100%;
    
}
.text{
    position:relative;
    top:80px; 
    color: rad;
	text-align:left;
	font-size:22px;
	font-weight: 500;
}

.prama{
        width: 500px;
    height: 40px;
    color: rad;
    font-size: 50px;
    right: 400px;
    text-align: center;
    font-style:  oblique;
	font-weight: 600;
    
}

.prama:hover{
    transition: all 1s ease;
    color:black ;
}


.photo{
    position: absolute;
   bottom: 50px;
	right: 100px;	
    width: 400;
top:150
}



